body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav-bar{
    position: inherit;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    border-bottom: solid #D38C10;

}
.top-side{
    padding: 20px 20px 0 20px;
    margin: 0;
    display: flex;
}
.top-side .flex-right{
    justify-content: left;
}
.top-side .flex-left{
    text-align: right;
    margin-left: auto;
    font-size: 14px;
}
.top-side .flex-left #green{
    color: green;
}
.top-side .flex-left #red{
    color: red;
}
.nav-bar{
    float: right;
}

.nav-bar ul {
    margin: 20px;
    padding: 5px;
    display: flex;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a {
    height: 20px;
    line-height:  20px;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 0px 20px;
    background-color: inherit;
  }
  
.nav-bar ul li a:hover, .dropdown:hover .dropbtn {
    color: #ff6d62;
    background-color:  rgb(253, 215, 166);
    box-shadow: 0px -1px 5px 8px  rgb(253, 215, 166);
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 0px 0px #fde6be;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(253, 215, 166);
    box-shadow: -5px 13px 27px -7px rgba(0,0,0,0.75);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.line{
    justify-content: center;
    margin: 276px 120px;
    width: 80%;
}
button{
    size: 20px;
    color: white;
}
.inside {
    margin: 126px 429px;
    width: center;
}
.grouppart{
    font-size: large;
}
.savebutton{
    margin-left: 329px;
    margin-top: 11px;
}
.green{
    background-color: #0A9014;
    font-size: 20px;
}
.green2{
    background-color: #0A9014;
    font-size: 20px;
    margin: 10px 93px;
}
.red{
    background-color: #FF1818;
    font-size: 20px;
}
.bottompart{
    display: none;
    align-items: left;
    margin: -60px 240px;
    justify-content: center;
    flex-direction: column;
}

.tablepart{
    display: flex;
    flex-direction: row;
    margin-top: -22px;
}
.ttable{
    margin-left: 93px;
}
table{
    border-collapse: collapse;
}
th, td{
  border: 1px solid #dddddd;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 26px;
  padding-left: 69px;
  padding-right: 110px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
